<div class="fixed-top" id="topbar">
  <div class="bg-white shadow-sm rounded d-flex flex-row justify-content-between align-items-center" id="hidden">
      <span class="h3 fw-lighter">{{titreComponent}}</span>
      <img src="assets/images/icons8-dashboard-100.png" alt="LOGO" height="45" width="45">
  </div>
</div>
<div class="w-100 p-4 rounded shadow-sm" id="menu">
    <!-- Titre Colonne -->
    <table class="table table-secondary">
        <thead class="text-center fs-6">
          <tr>
            <th style="width:22%;" class="fw-normal">Icons</th>
            <th style="width:15%; padding-right:60px;" class="fw-normal">Noms</th>
            <th style="width:34%; padding-left:60px;" class="fw-normal">Routes</th>
            <th class="fw-normal" style="padding-left:30px;">Rang</th>
            <th style="width:15%;" class="fw-normal">Accessibilité</th>
            <th style="width:20%; padding-right:20px;" class="fw-normal"></th>
          </tr>
        </thead>
    </table>

    <!-- Corps Colonne / Liste Menu -->
    <div class="corps-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of liste_menu; let i = index" cdkDrag cdkDragLockAxis="y" class="list ps-4 pe-4 pt-2 pb-2">
        <div class="w-100 d-flex flex-row justify-content-between align-items-center p-2">

          <!-- Bouton Collapse Sous Menu -->
          <div>
            <button [disabled]="item.sous_menu == null" class="accordion-button collapsed" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+(i+1)" aria-expanded="false" aria-controls="flush-collapseOne" ></button>
          </div>

          <!-- Icon Menu -->
          <div style="width:5%" class="text-center">
            <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#showUpdateIcon" style="width: 45px; height:45px;"><i class="{{item.icon_menu}}"></i></button>
          </div>

          <!-- Nom Menu -->
          <div style="width:25%">
              <input type="text" [(ngModel)]="item.nom_menu" class="p-2 ps-4 pe-4 fs-6 form-control form-control-sm">
          </div>

          <!-- DISABLED IF ROUTE == GESTION-MENU / Route Menu -->
          <div style="width: 25%;" *ngIf="item.route_menu != 'gestion-menu'">
            <input type="text" [(ngModel)]="item.route_menu" class="p-2 ps-4 pe-4 fs-6 form-control form-control-sm">
          </div>
          <div style="width: 25%;" *ngIf="item.route_menu == 'gestion-menu'">
            <input type="text" [(ngModel)]="item.route_menu" class="p-2 ps-4 pe-4 fs-6 form-control form-control-sm" [disabled]="true">
          </div>

          <!-- Rang Menu -->
          <div style="width: 5%;">
            <input type="text" class="p-2 fs-6 text-center form-control form-control-sm" value="{{i+1}}" [disabled]="true">
          </div>

          <!-- Accessibilite -->
          <div style="width: 8%;" *ngIf="item.route_menu != 'gestion-menu'">
            <select name="" id="" [(ngModel)]="item.accessibilite" class="p-2 fs-6 text-center form-control form-control-sm">
              <option value="1">Niveau 1</option>
              <option value="2">Niveau 2</option>
              <option value="3">Niveau 3</option>
            </select>
          </div>
          <div style="width: 8%;" *ngIf="item.route_menu == 'gestion-menu'">
            <select name="" id="" [(ngModel)]="item.accessibilite" class="p-2 fs-6 text-center form-control form-control-sm" [disabled]="true">
              <option value="1">Niveau 1</option>
              <option value="2">Niveau 2</option>
              <option value="3">Niveau 3</option>
            </select>
          </div>

          <!-- CANNOT DELETE IF ROUTE == GESTION-MENU / Actions (Modifier et Supprimer) Menu -->
          <div style="width: 6%;" *ngIf="item.route_menu != 'gestion-menu'" class="text-center d-flex flex-row justify-content-between align-items-center">
            <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" title="Modifier" (click)="modifierMenu(item)"><i class="bi bi-pen-fill"></i></button>
            <button class="btn btn-danger" data-bs-toggle="tooltip" title="Supprimer" (click)="supprimerMenu(item.id_menu)"><i class="bi bi-trash3-fill"></i></button>
          </div>
          <div style="width: 6%;" *ngIf="item.route_menu == 'gestion-menu'" class="text-center">
            <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" title="Modifier" (click)="modifierMenu(item)"><i class="bi bi-pen-fill"></i></button>
          </div>

          <!-- Bouton Drag & Drop Menu -->
          <div style="width:4%;" class="text-center" cdkDragHandle>
            <i class="bi bi-grip-vertical" style="font-size: 20px;"></i>
          </div>

        </div>


        <!-- Sous MENU -->
        <div class="collapse" [attr.id]="'collapse'+(i+1)">
          <div class="rounded border mt-2 mb-2 p-3" id="colMain">
            <div class="corps-listSousMenu" cdkDropList (cdkDropListDropped)="dropSousMenu($event, i, item.id_menu)">
              <div *ngFor="let itemSM of item.sous_menu; let y = index" cdkDrag cdkDragLockAxis="y" class="listSousMenu ps-4 pe-4 pt-2 pb-2">
                <div class="w-100 d-flex flex-row justify-content-between align-items-center p-2">

                  <!-- Icon Sous Menu -->
                  <div style="width:5%" class="text-center">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#showUpdateIcon" style="width: 45px; height:45px;"><i class="{{itemSM.icon_sous_menu}}"></i></button>
                  </div>

                  <!-- Nom Sous Menu -->
                  <div style="width:30%">
                      <input type="text" [(ngModel)]="itemSM.nom_sous_menu" class="p-2 ps-4 pe-4 fs-6 form-control form-control-sm">
                  </div>

                  <!-- DISABLED IF ROUTE == GESTION-MENU / Route Sous Menu -->
                  <div style="width: 30%;" *ngIf="item.route_menu != 'gestion-menu'">
                    <input type="text" [(ngModel)]="itemSM.route_sous_menu" class="p-2 ps-4 pe-4 fs-6 form-control form-control-sm">
                  </div>
                  <div style="width: 30%;" *ngIf="item.route_menu == 'gestion-menu'">
                    <input type="text" [(ngModel)]="itemSM.route_sous_menu" class="p-2 ps-4 pe-4 fs-6 form-control form-control-sm" [disabled]="true">
                  </div>

                  <!-- Rang Sous Menu -->
                  <div style="width: 8%;">
                    <input type="text" class="p-2 fs-6 text-center form-control form-control-sm" value="{{y+1}}" [disabled]="true">
                  </div>

                  <!-- CANNOT DELETE IF ROUTE == GESTION-MENU / Actions (Modifier et Supprimer) Sous Menu -->
                  <div style="width: 6%;" *ngIf="item.route_menu != 'gestion-menu'" class="text-center d-flex flex-row justify-content-between align-items-center">
                    <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" title="Modifier" (click)="modifierSousMenu(item.sous_menu ,item.id_menu, i, y)"><i class="bi bi-pen-fill"></i></button>
                    <button class="btn btn-danger" data-bs-toggle="tooltip" title="Supprimer" (click)="supprimerSousMenu(item.id_menu ,i, y)"><i class="bi bi-trash3-fill"></i></button>
                  </div>
                  <div style="width: 6%;" *ngIf="item.route_menu == 'gestion-menu'" class="text-center">
                    <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" title="Modifier"><i class="bi bi-pen-fill"></i></button>
                  </div>

                  <!-- Bouton Drag & Drop Sous Menu -->
                  <div style="width:4%;" class="text-center" cdkDragHandle>
                    <i class="bi bi-grip-vertical" style="font-size: 20px;"></i>
                  </div>

                </div>
              </div>
            </div>
            <hr>
            <!-- Ligne d'Ajout Sous Menu -->
            <div class="ps-4 pe-4 pt-2 pb-2">
              <div class="w-100 d-flex flex-row justify-content-between align-items-center p-2">

                  <div style="width:5%" class="text-center">
                      <button type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#showIconSousMenu'+(i+1)" class="btn btn-outline-secondary" style="width: 45px; height:45px;"><i class="{{iconSousMenu}}" aria-hidden="true"></i></button>
                  </div>
                  <div style="width:30%">
                      <input type="text" [(ngModel)]="nomSousMenu" class="p-2 ps-4 pe-4 fs-6  form-control form-control-sm">
                  </div>
                  <div style="width: 30%;">
                      <input type="text" [(ngModel)]="routeSousMenu" class="p-2 ps-4 pe-4 fs-6  form-control form-control-sm">
                  </div>
                  <div style="width: 8%;">
                      <input type="text"  class="p-2 text-center fs-6 form-control form-control-sm" [disabled]="true">
                  </div>
                  <div style="width: 6%;" class="text-center d-flex flex-row justify-content-between align-items-center">
                      <button class="btn btn-primary" data-bs-toggle="tooltip" title="Ajouter" (click)="ajoutSousMenus(iconSousMenu,nomSousMenu,routeSousMenu,i,item.id_menu)" [disabled]="readyToAddSousMenu"><i class="bi bi-check-lg"></i></button>
                      <button class="btn btn-secondary" data-bs-toggle="tooltip" title="Annuler" (click)="annulerAjout()"><i class="bi bi-x-lg"></i></button>
                  </div>
              </div>
              <div class="showIconSousMenu collapse" [attr.id]="'showIconSousMenu'+(i+1)">
                  <div class="rounded border mt-2 mb-2 p-2">
                      <div *ngFor="let icon of icon" class="d-inline">
                          <button class="mt-1 ms-1 btn btn-sm btn-outline-secondary text-center px-2" style="width: 40px; height:40px;" (click)="getIconSousMenu(icon)"><i class="{{icon}}"></i></button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!-- Ligne d'Ajout Menu -->
    <div class="ps-4 pe-4 pt-2 pb-2 bg-white">
        <div class="w-100 d-flex flex-row justify-content-between align-items-center p-2">

            <div style="width:5%" class="text-center">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#showIcon" class="btn btn-outline-secondary" style="width: 45px; height:45px;"><i class="{{iconMenu}}" aria-hidden="true"></i></button>
            </div>
            <div style="width:32%">
                <input type="text" [(ngModel)]="nomMenu" class="p-2 ps-4 pe-4 fs-6  form-control form-control-sm">
            </div>
            <div style="width: 32%;">
                <input type="text" [(ngModel)]="routeMenu" class="p-2 ps-4 pe-4 fs-6  form-control form-control-sm">
            </div>
            <div style="width: 5%;">
                <input type="text" [(ngModel)]="nextRang" class="p-2 text-center fs-6 form-control form-control-sm" [disabled]="true">
            </div>
            <div style="width: 8%;">
              <select [(ngModel)]="accessibilite" class="p-2 text-center fs-6 form-control form-control-sm">
                <option value="1">Niveau 1</option>
                <option value="2">Niveau 2</option>
                <option value="3">Niveau 3</option>
              </select>
            </div>
            <div style="width: 6%;" class="text-center d-flex flex-row justify-content-between align-items-center">
                <button class="btn btn-primary" data-bs-toggle="tooltip" title="Ajouter" (click)="ajouterMenu(iconMenu, nomMenu, routeMenu, accessibilite)" [disabled]="readyToAdd"><i class="bi bi-check-lg"></i></button>
                <button class="btn btn-secondary" data-bs-toggle="tooltip" title="Annuler" (click)="annulerAjout()"><i class="bi bi-x-lg"></i></button>
            </div>
        </div>
        <div class="collapse" id="showIcon">
            <div class="rounded border mt-2 mb-2 p-2">
                <div *ngFor="let icon of icon" class="d-inline">
                    <button class="mt-1 ms-1 btn btn-sm btn-outline-secondary text-center px-2" style="width: 40px; height:40px;" (click)="getIcon(icon)"><i class="{{icon}}"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

