<div class="shadow p-5 rounded bg-white" id="loginMax" *ngIf="hideLogin">
    <img src="assets/images/icons8-dashboard-100.png" alt="LOGO" width="110" height="110">
    <h2 class="mt-4 fw-normal">{{nameApp}}</h2>
    <div class="mt-4 d-flex justify-content-around">
        <div id="input">
            <div *ngIf="erreur" class="p-1 mb-3 text-white bg-danger rounded">Coordonnées Incorrecte</div>
            <div *ngIf="status" class="p-1 mb-3 text-dark bg-warning rounded">Veuillez remplir les cases</div>
            <form [formGroup]="authentificationForm" (ngSubmit)="connexion(authentificationForm.value)">
                <input type="text" class="form-control" formControlName="matricule" placeholder="Matricule">
                <input type="password" class="form-control mt-2" formControlName="password" placeholder="Mot de passe">
                <button type="submit" class="btn mt-3 w-50" id="btn_connexion">Connexion</button>
            </form>
        </div>
    </div>
</div>

<div *ngIf="hideMenu">
    <div class="fixed-top d-flex flex-column justify-content-between align-items-center p-3 bg-dark h-100" id="menu">
        <div class="w-100 h-100 d-flex flex-column align-items-center">
            <div id="donnee_admin" class="w-100">
                <span class="h4 fw-lighter">
                    <a class="text-white" routerLink="/accueil" id="text1">Dashboard</a>
                    <a class="text-white" routerLink="/accueil" id="text2">TDB</a>
                </span><br>
                <span>{{matricule}}</span>
                <hr>
            </div>
            <div id="btn_menu" class="w-100 d-flex flex-column">
              <div class="w-100" *ngFor="let itemMenu of liste_menu; let i = index">
                    <button ng-show="toggle()" *ngIf="itemMenu.route_menu != ''" class="btn w-100 mt-2" id="btn_menu" routerLink="/{{itemMenu.route_menu}}" routerLinkActive="is-active">
                        <span id="text_menu">{{itemMenu.nom_menu}}</span>
                        <i class="{{itemMenu.icon_menu}}" id="icon_menu"></i>
                    </button>
                    <button *ngIf="itemMenu.route_menu == ''" class="btn w-100 mt-2" id="btn_menu" [attr.data-bs-target]="'#collapseSM'+(i+1)" data-bs-toggle="collapse">
                    <span id="text_menu">{{itemMenu.nom_menu}}</span>
                    <i class="{{itemMenu.icon_menu}}" id="icon_menu"></i>
                    </button>
                <div class="collapse" routerLinkActive="show" [attr.id]="'collapseSM'+(i+1)">
                    <div *ngFor="let itemSM of itemMenu.sous_menu" id="divSM">
                      <button class="btn btn-sm w-100 mt-2 border-0" id="btn_menu" routerLink="/{{itemSM.route_sous_menu}}" routerLinkActive="is-active">
                        <span id="text_menu">{{itemSM.nom_sous_menu}}</span>
                        <i class="{{itemSM.icon_sous_menu}}" id="icon_menu"></i>
                      </button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <button class="btn btn-sm mt-3 w-100" id="btn_deconnexion" (click)="deconnexion()">
            <span id="text_menu">Déconnexion</span>
            <i class="bi bi-box-arrow-right" id="icon_menu"></i>
        </button>
    </div>
    <div id="content">        
        <router-outlet></router-outlet>
    </div>
</div>

