<div class="fixed-top" id="topbar">
    <div class="bg-white shadow-sm rounded d-flex flex-row justify-content-between align-items-center" id="hidden">
        <span class="h3 fw-lighter">{{titreComponent}}</span>
        <img src="assets/images/icons8-dashboard-100.png" alt="LOGO" height="45" width="45">
    </div>
</div>
<div class="rounded p-4 w-100 mt-4">
    <div class="p-3 row">
        <div class="col-lg-6 mt-3">
            <div class="text-center">
                <label for="matricule" class="fs-4">Matricule</label>
                <input type="text" id="matricule" [(ngModel)]="matricule" class="form-control form-control-lg p-3 fs-5 mt-2">
            </div>
        </div>
        <div class="col-lg-6 mt-3">
            <div class="text-center">
                <label for="role" class="fs-4">Rôle</label>
                <select class="form-control form-control-lg p-3 fs-5 mt-2" id="role" [(ngModel)]="role_user" style="border-color: #b3b3b3;border-radius:.2rem;" name="role_user">
                    <option value="Utilisateur">Utilisateur</option>
                    <option value="Responsable">Responsable</option>
                    <option value="Administrateur">Administrateur</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 mt-3">
            <div class="text-center">
                <label for="nom" class="fs-4">Nom</label>
                <input type="text" id="nom" [(ngModel)]="nom_user" class="form-control form-control-lg p-3 fs-5 mt-2">
            </div>
        </div>
        <div class="col-lg-6 mt-3">
            <div class="text-center">
                <label for="prenom" class="fs-4">Prénoms</label>
                <input type="text" id="prenom" [(ngModel)]="prenom_user" class="form-control form-control-lg p-3 fs-5 mt-2">
            </div>
        </div>
        <div class="col-lg-6 mt-3">
            <div class="text-center">
                <label for="password" class="fs-4">Mot de passe</label>
                <input type="password" id="password" [(ngModel)]="password_user" class="form-control form-control-lg p-3 fs-5 mt-2">
            </div>
        </div>
        <div class="col-lg-6 mt-3">
            <div class="text-center">
                <label for="confirm" class="fs-4">Confirmation</label>
                <input type="password" id="confirm" [(ngModel)]="confirm_password" class="form-control form-control-lg p-3 fs-5 mt-2">
            </div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="text-center">
                <button class="btn btn-lg btn-primary p-2 fs-5 form-control text-left w-50" (click)="ajouterUser(nom_user, prenom_user, matricule, password_user, role_user, confirm_password)">Enregistrer</button>
            </div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="text-center">
                <button type="button" class="btn btn-lg btn-secondary p-2 fs-5 form-control text-left w-50" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Voir la liste
                </button>
            </div>
        </div>
    </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fw-normal" id="exampleModalLabel">Liste des utilisateurs</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="text-center">
                        <th style="width: 8%;">Matricule</th>
                        <th style="width: 20%;">Nom</th>
                        <th style="width: 20%;">Prénoms</th>
                        <th style="width: 15%;">Rôle</th>
                        <th style="width: 12%;">Mot de passe</th>
                        <th style="width: 6%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let users of liste_user">
                        <td><input type="text"  maxlength=5 [(ngModel)]="users.matricule" class="form-control"></td>
                        <td><input type="text" [(ngModel)]="users.nom_user" class="form-control"></td>
                        <td><input type="text" [(ngModel)]="users.prenom_user" class="form-control"></td>
                        <td>
                            <!--<input type="text" [(ngModel)]="users.role_user" class="form-control">-->
                            <select class="form-control" [(ngModel)]="users.role_user">
                                <option value="Utilisateur">Utilisateur</option>
                                <option value="Responsable">Responsable</option>
                                <option value="Administrateur">Administrateur</option>
                                </select>
                        </td>
                        <td><input type="text" [(ngModel)]="users.password_user" class="form-control"></td>
                        <td class="d-flex flex-row justify-content-around align-items-center">
                            <button class="btn btn-warning btn-sm" (click)="modifierUser(users)"><i class="bi bi-pen-fill"></i></button>
                            <button class="btn btn-danger btn-sm" (click)="supprimerUser(users.id_utilisateur)"><i class="bi bi-trash3-fill"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>